body {
    padding: 50px;
}

.section-informations {
    display: flex;
}

#container-left {
    width: 50%;
    flex-direction: column;
    background-color: rgb(90, 90, 90);
}

#container-right {
    width: 50%;
    background-color: rgb(90, 90, 90);
}

.logo {
    display: inline-block;
    width: calc(45% - 50px);
    text-align: center;
    padding: 25px;
}

p {
    font-size: 14px;
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
}

.underline {
    width: 175px;
    background-color: red;
    border: 0;
    height: 4px;
    margin-bottom: 50px;
    }

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

ul > li {
    display: inline;
    margin: 5px;
    list-style-type: none;
}

iframe {
    width:100%;
    height: 100%;
}

/* Nav */

nav {
    
    background-color: blue;
    padding: 3rem;
    
    
    
}

nav ul {
    display: flex;
    font-size: 1.5rem;
    
    
}

nav li{
    /* Suppression des puces */
    list-style-type: none;
    

}

nav a {
    text-decoration: none;
    color: white;
}
